.tag {
  color: rgba(102,119,136,.5);
  font-weight: 400;
  user-select: none;
  line-height: 1.5em;
  padding: 2px 8px;
  border-radius: 3px;
  background: rgba(241,243,245,.5);
  margin-right: 5px;
  margin-top: 5px;
  box-shadow: 0 1px 1px rgba(102,119,136,.25);
  display: inline-block;
}

.tag:hover {
  background-color: #745fb5;
  background: linear-gradient(5deg,#745fb5,#9066b8);
  color: white;
}

.btn-remove {
  margin-left: 5px;
  cursor: pointer;
}